# pubspec.yaml (hanya bagian relevan)
name: katalog_tas
description: A simple catalog app for UTS - Katalog Tas Stylish
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

flutter:
  uses-material-design: true
  assets:
    - assets/images/
